<h2><%= @sent_afformation.afformation_text %></h2>
<%= form_for(@sent_afformation) do |f| %>
  <% if @sent_afformation.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@sent_afformation.errors.count, "error") %> prohibited this sent_afformation from being saved:</h4>

      <ul>
      <% @sent_afformation.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Write out an official response to remind yourself:" %><br>
    <%= f.text_area :user_response_to_afformation, class: "form-control" %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit "Add Response", class: "btn btn-success btn-sm" %>
  </div>
<% end %>