<%= form_for(@afformation) do |f| %>
  <% if @afformation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@afformation.errors.count, "error") %> prohibited this afformation from being saved:</h2>

      <ul>
      <% @afformation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :afformation_text %>:<br>
    <%= f.text_field :afformation_text, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :afformation_focus_area %>:<br>
    <%= f.select :afformation_focus_area, Afformation.afformation_focus_areas.keys, class: "form-control custom-select" %>
  </div>

  <% action = params[:action].capitalize %>
  <div class="actions">
    <%= f.submit "#{action == "Edit" ? action : "Save"} Afformation", class: "btn btn-success btn-sm" %>
    <!-- btn btn-outline-success -->
  </div>
<% end %>
