<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <h1>Here's a list of the site's afformations:</h1>
<% else %> 
  <h1>Here's a list of all your personally submitted afformations:</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Afformation</th>
      <th>Focus Area:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @afformations.each do |afformation| %>
      <tr>
        <td><%= afformation.afformation_text %></td>
        <td><%= afformation.afformation_focus_area %></td>
        <td><%= link_to 'Edit', edit_afformation_path(afformation) %></td>
        <td><%= link_to 'Destroy', afformation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Afformation', new_afformation_path %>
