<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <h2>All Afformations:</h2>
<% else %> 
  <h2>Your Personal Afformations:</h2>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Focus:</th>
      <th scope="col">Afformation:</th>
      <th scope="col" class="text-center">Edit</th>
      <th scope="col" class="text-center">Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @afformations.each do |afformation| %>
      <tr>
        <td><%= afformation.afformation_focus_area.capitalize %></td>
        <td><%= afformation.afformation_text %></td>
        <td><%= link_to edit_afformation_path(afformation) do %>
            <div class="text-center">
              <span class="fa fa-pencil fa-lg btn-light"></span>
            </div>
            <% end %>
        </td>
        <td><%= link_to afformation, method: :delete, data: { confirm: 'Are you sure you want to delete your afformation?' } do %>
            <div class="text-center">
              <span class="fa fa-trash-o fa-lg btn-light"></span>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_afformation_path do %>
  <span class="fa fa-plus-square-o fa-lg btn-light">  New Afformation</span>
<% end %>
