<!DOCTYPE html>
<html>
<head>
  <title>AfformationPusher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<% if user_signed_in? %>
		<span class="fa fa-user-o"></span>
		Welcome, <%= current_user.name %> !
	
		<%= link_to afformations_path do %>
		  	<span class="fa fa-plus-square-o">Create Unique Afformations</span>
		<% end %> 
		<%= link_to sent_afformations_path do %>
		  	<span class="fa fa-envelope-o">Received Afformations - View and Respond</span>
	    <% end %>

	  <%= link_to destroy_user_session_path, method: :delete do %>
	  	<span class="fa fa-sign-out">Sign Out</span>
      <% end %>
	<% else %>
		<%= link_to new_user_session_path do %>
	  	<span class="fa fa-sign-in">Sign In</span>
      <% end %>
	<% end %>
<input class="btn btn-primary" type="submit" value="Submit">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</body>
</html>
